<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            [%d{yyyy-MM-dd HH:mm:ss.SSS}] %-4r %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %L - %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="consoleappender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    
     <Appenders>
		<File name="errors" fileName="ventas.log" bufferedIO="false" advertiseURI="/logs/ventas/ventas.log" advertise="true"></File>   
	 </Appenders>
    
    
    <Loggers>
        <Logger name="ar.com.bussiness.ventas" level="error" additivity="false">
            <AppenderRef ref="error" />
        </Logger> 
        
        <Root level="DEBUG">
            <AppenderRef ref="consoleappender" />        
              <AppenderRef ref="error" />  
        </Root>

    </Loggers>
                 
    
</Configuration>
